*{
  box-sizing: border-box;
}

body {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
background-color: #f1f1f1;
color: #2e363f;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: #2e363f;
}

/***********************Sidebar***********************/  
.mysidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2e363f;
  overflow-x: hidden;
  padding-top: 20px;
}

.mysidenav .profileTop{
  display: flex;
  height: 150px;
  align-items: center;
  margin: 0 10px 10px 10px;
}

.mysidenav .profileTop > li > img{
  width: 100px;
}

#avatarShow{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#avatarHide{
  border-radius: 50%;   
  width: 150px;
  height:150px;
}


.mysidenav a {
  padding: 0 0 0 20px;
  height: 50px;
  margin: 10px 0px 10px;
  text-decoration: none;
  font-size: 16px;
  color: wheat;
  display: flex;
  align-items: center;
}

.mysidenav a:hover {
  color: #eee;
  background-color: rgba(245,222,179, 0.2);
}

.mysidenav a>img{
  padding-right: 20px;
  margin-left: -5px;
}

.mysidenav .disabledTab{
  pointer-events:stroke;
  cursor:none;
  opacity: 0.5;
}

.mysidenav #soon {
  display: flex;
  font-weight: bold;
}

.mysidenav #soon > img {
  padding-right: 20px;
  
}

.mysidenav .profileCenter a:last-child{
  position: fixed;
  bottom: 0;
  display: flex;
  padding-bottom: 10px;
}

.mysidenav a:last-child:hover{
  background-color: transparent;
  text-shadow: 3px 3px 8px black;
  color: wheat;
  transform: scale(1.06);
}


#avatarShow{
  cursor: pointer;
  margin-top: -40px;
}

#avatarShow:hover{
  transform: scale(1.05,1.05);
}

#avatarHide{
  cursor: pointer;
  margin-top: -280px;
}

/***********************Header***********************/
.mymain {
  margin-left: 210px;
  font-size: 28px;
  padding: 0;
}

.mymain .myheader{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  height: 70px !important;
  align-items: center;
}

.mymain .myheader a{
  text-decoration: none;
  color: #344365;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.mymain .myheader img{
  padding-right: 10px;
  padding-left: 10px;
}

.mymain .headerLeft{
  float: left;
  width: 100%;
  font-size: 17px;
  float: right;
  margin-left: 20px;
  font-style: italic;
}

.mymain .headerLeft>p{
  padding-left: 40px;
}

.mymain .myheader .mynavbar{
  display: flex;
  justify-content: flex-end;
  width: 70%;
}


.mymain .myheader .mynavbar .profileRight{
  display: flex;
  align-items: center;
}

#breadcrumbHeader{
  display: none;
}

#breadcrumbHeader #a:hover{
  color: #c4a300;
}

.secondBreadcrumbTitle{
  color: #c4a300;
  font-weight: bold;
  padding-left: 10px;;
}

/***********************Slideshow***********************/
.mainContent #section1 #section1Flexed{
  padding-bottom : 20px;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
}

.rowEnonce{
  width: 100%;
}

.rowEnonce h2{
  border-bottom: 2px #B4975A solid;
  text-align: left;
  width: 90%;
}

.rowEvent h2{
  border-bottom: 2px #B4975A solid;
  text-align: left;
  width: 90%;
}

.rowEvent{
  width: 100%;
}

.mainContent .slideshow-container .myFlex {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20px;
}

.colonne1{
  width: 60%;
  padding-bottom: 20px;
}

.colonne2{
  width: 35%;
  display: flex;
  flex-direction: column;
}

.colonne2 .rowEnonce h2{
  font-size: 30px;
}

.colonne2 .rowEvent h2{
  font-size: 30px;
}

.slideshow-container {
  width: 90%;
  position: relative;
  padding-top: 0px;   
  padding-left: 20px; 
  padding-bottom: 20px;
}

.slideshow-container img{
  margin-top: 10px;
  border-radius: 5px;
  width: 90%;
}

.textLarge {
  color: #f2f2f2;
  text-align:justify;
  font-size: 16px;
  width: 90%;
  color: #2e363f;
  padding-top: 20px;
  line-height: 25px;
}

.textSmall{
  color: #344365;
  text-align: justify;
  font-size: medium;
  margin-top: 10px;
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/***********************Scrollbar************************/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: rgba(65, 86, 161, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: #2E363F; 
}




/***********************Report Card***********************/

.gradeTd{
  width: 15%;
  background-color: #eee !important;
  white-space: nowrap;
  border-left: 8px white solid;
  padding-left: 10px;
  color: #2E363F !important;
}
.name{
    width: 40%;
    background-color: #eee !important;
    color: #2E363F;
    font-size: 16px;
    font-family: 'Segoe Ui Light';
    
}

.studentDetailsReport{
  font-style: italic;
  font-weight: bold;
}

.tableGrades th:first-child{
    text-align: left;
    padding-left: 30px;
}
.tableGrades th{
    text-align: center;
    font-family: 'Segoe Ui Light';
    font-weight: bold;
}

.tableAttendance th:first-child{
  text-align: left;
  padding-left: 30px;
}

.tableResult th:first-child{
  text-align: left;
  padding-left: 30px;
}
.letterGrade{
    background-color: #eee !important;
    color: #2E363F;
    width: 50%;
    font-size: 16px;
    font-family: 'Segoe Ui Light';
}
.numberGrade{
    background-color: #eee !important;
    border-left: 8px white solid;
    font-size: 16px;
    color: #2E363F !important;
    width: 50%;
}
.feedback{
    min-height: 500px !important;
    background-color: #eee !important;
    color: #2E363F;
    font-weight: bold;
    font-size: 16px;
} 

/***********************Announcements***********************/

.listEnonce{
list-style: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-left: -35px;
}
.dateEnonce{
font-size: 12px;

color: #B4975A;
}

.titreEnonce{
margin-top: -1px;
font-size: 20px;
color: #B4975A;
}
.paragEnonce{
margin-top: -10px;
padding-bottom: 10px;
font-size: 15px;
}

/***********************Events***********************/

#sectionEvents{
margin-left: 200px;
}

.listEvents{
list-style: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
flex-direction: row;
align-items: center;
padding-bottom: 20px;
margin-left: -35px;
}

.dateEventsDiv{
text-align: center;
margin-right: 20px;
background-color: #B4975A;
padding: 15px 20px;
color: antiquewhite;
font-size: 16px;
}
.titleEvents{
margin-top: 10px;
font-size: 17px;
}

.timeEvents{
font-style: italic;
font-size: small;
margin-top: -10px;
}

#eventSectionTrigger{
cursor: pointer;
}

#eventSectionTrigger:hover{
transform: scale(1.01,1.01);
}
h2{
text-align: center;
letter-spacing: 2px;
color: #344365;
}
.events-container {
display: grid;
width: 550px;
height: 300px;
background-color: #eee;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 20px;
padding-right: 5px;
}

.rowImg {
height: 200px;
background-image: url("images/events/elderly.jpg");
background-size: cover;
}

.events-container:hover {
transform: scale(1.05,1.05);
padding-bottom: 10px;
padding-right: 10px;
}

.rowDes {
padding: 20px 10px 10px;
line-height: 20px;
float: left;
background: #fff;
width: 100%;
box-sizing: border-box;
border-top: 1px inset rgba(0, 0, 0, 0.1);
height: 100px;
}

.col-3 {
float: left;
width: 20%;
box-sizing: border-box;
line-height: 1.5;
}
.month {
color: #C45092;
text-transform: uppercase;
display: block;
font-size: 16px;
text-align: center;
padding-right: 10px;
}

.day {
color: #2e363f;
display: block;
font-weight: 600;
font-size: 14px;
text-align: center;
padding-right: 10px;
}

.col-9 {
float: left;
width: 80%;
box-sizing: border-box;
line-height: 1.5;
margin-top: -30px;
}

.row a {
white-space: normal;
color: #2e363f;
height: 40px;
text-decoration: none;
font-size: 16px;
padding: 0;
line-height: 20px;
text-transform: none;
margin-top: -20px;
}

.rowLoc {
margin-top: -10px;
font-size: 12px;
color: #999;
line-height: 1.5;
width: 100%;
}

.rowTime {
width: 100%;
float: left;
font-size: 12px;
color: #999;
line-height: 1.5;
}

.events-main{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: space-between;
}

/***********************Sidebar***********************/ 

#sectionStudentProfile{
display: flex;
flex-direction: column;
align-items: center;
}
.studentCard{
width: 80%;
background-color: #fff;
height: 60%;
flex-direction: column;
margin-top: 100px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.studentProfileList{
list-style: none;
font-size: 20px;
margin-bottom: 25px;
font-weight: bold;
color: #2E363F;
}
.studentProfileList:last-child{
margin-bottom: 50px;
}
ol .studentProfileList{
position: absolute;
width: 100%;
height: 10%;
background-color: #2E363F;
bottom: 0;
}

.popup {
justify-content: center;
position: fixed;
padding: 10px;
width: 40%;
height: 80%;
left: 40%;
padding-top: 10px;
margin-left: -150px;
top: 0%;
background: #FFF;
z-index: 20;
border-radius: 20px;
}

#popup1 {
-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.marginProfile{
display: flex;
flex-wrap: nowrap;
}

/***********************Reports***********************/
#print:hover{
transform: scale(1.05,1.05);
}

/***********************Wave Animation***********************/

.wave {
animation-name: wave-animation; 
animation-duration: 2.5s;        
animation-iteration-count: infinite; 
transform-origin: 70% 70%;       
display: inline-block;
}

@keyframes wave-animation {
0% { transform: rotate( 0.0deg) }
10% { transform: rotate(14.0deg) } 
20% { transform: rotate(-8.0deg) }
30% { transform: rotate(14.0deg) }
40% { transform: rotate(-4.0deg) }
50% { transform: rotate(10.0deg) }
60% { transform: rotate( 0.0deg) }  
100% { transform: rotate( 0.0deg) }
}

/***********************Profile***********************/
.studentProfileList{
font-size: 18px;
font-weight: normal;
}

.studentProfileListTitle{
font-size: 20px;
font-weight: bold;
}


 /***********************Schedule***********************/
.tableSchedule{
  width: 70%;
  margin-top: 50px !important;
  text-align: center;
  border-collapse: collapse;
  border-radius: 100px;
}

.tableSchedule > table, td, th{
  border: 1px black solid;
  width: 200px;
  height: 60px;
}

.tableSchedule th{
  background-color: #2E363F;
  color: wheat;
}

/***********************Responsive***********************/
  
@media screen and (max-width: 1000px) {
  .mysidenav {width: 60px;}
  .mymain {margin-left: 60px;}
  .mysidenav .disabledTab{pointer-events:none;}
  .mysidenav a:last-child{visibility: visible;}
  .mysidenav a:last-child:hover{background-color: transparent;}
  .mysidenav img:hover{ transform: scale(1.08); }
  .mysidenav a:hover{background-color: transparent;}
  .itemsTitle{display: none;}
  .headerLeft{visibility: hidden;}
  .mysidenav .profileTop > li > img{visibility: hidden;}
  .welcomeText{width: 100%; padding: 0px;}
  .mainContent{padding: 0 10px 2px 10px; display: flex; justify-content: center;}
  .slideshow-container img{width: 100%;}
  .textLarge{line-height: unset; width: 90%; padding-top: 20px;}
  .textSmall{display: none;}
  .colonne1{width: 100%; margin-left: auto; margin-right: auto;}
  .colonne2{width: 100%;}
  #sectionEvents{ margin-left: 60px}
  .events-container{width: 90%;}
  #reportCard{width: 90%;}
}

@media screen and (max-width: 900px) {
  #popup1{width: 70%;}
}
@media screen and (max-height: 450px) {
  .mysidenav {padding-top: 15px;}
  .mysidenav a {font-size: 18px;}
  .mysidenav .disabledTab{pointer-events:none;}
  .mysidenav a:last-child{visibility: visible;}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}